ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;  /* de achtegrond kleur van balk van dropdown menu wordt zwart*/
  }
  
  li {
    float: left; /* Dit zorgt ervoor dat de balk aan de linker kant van het scherm staat*/
  }
  
  li a {
    display: block;
    color: rgb(211, 211, 211); /* de tekst kleur wordt grijs*/
    text-align: center;
    padding: 14px 16px; /* dit zorgt voor de grootte van de balk*/ 
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
  }